@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
 --font-gothic:"Science Gothic", sans-serif;
 --font-sekuya:"Sekuya", system-ui;
 --font-geom:"Geom", sans-serif;
}
@layer utilities {
  .hover-underline {
    @apply hover:underline;
  }
}
*{
  scrollbar-width: none;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 0.8s ease-out forwards;
}
